* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    margin: 20px 0 15px 32px;
}

.link-header {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.875px;
    color: #17233D;
    cursor: pointer;
    margin: 20px;
}

.button-header {
    background: #6FBF44;
    border: 1px solid #4CB538;
    border-radius: 6px;
    height: 51px;
    width: 124px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 1px;
    color: #FFFFFF;
    cursor: pointer;
}

.logo-image {
    width: 564.18px;
    height: 500px;
    display: inline-block;
}

div {
    display: inline-block;
    margin-left: 85px;
    width: 493px;
}

h1 {
    font-weight: 700;
    font-size: 62px;
    line-height: 82px;
    letter-spacing: 0.596154px;
    color: #161A49;
}

p {
    font-weight: 400;
    font-size: 18px;
    line-height: 33px;
    letter-spacing: 0.5px;
    color: #4B505A;
    margin-top: 47px;
    margin-bottom: 55px;
}

.button-div {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 1px;
    color: #6FBF44;
    cursor: pointer;
    background: transparent;
    border: none;

}

@media screen and (max-width: 900px) {
    .link-header {
        display: none;
    }

    h1 {
        font-weight: 700;
        font-size: 30px;
        line-height: 30px;
        text-align: center;
    }

    p {
        font-weight: 400;
        font-size: 18px;
        line-height: 33px;
        text-align: center;
    }

    .button-div {
        font-weight: 500;
        font-size: 18px;
        line-height: 27px;
        margin: 10px 177px;
    }

    .button-header {
        margin: 17px 15px 0 445px;
        height: 31px;
        width: 91px;
        left: 0px;
        top: 0px;
        border-radius: 6px;

    }

    .logo-image {
        width: 312px;
        height: 288px;
        margin: 39px 172px;
    }
}